* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica';
}

body {
  height: 100vh;
  background-color: rgb(255, 255, 255);
  
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
  font-size: 1rem;
}

p{
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;

}
a:hover {
  color: rgb(92, 49, 1);
}

/* HEADER */
header {

  position: relative;
  padding: 0 1rem;
  margin: 1rem;
  align-items: center;
  
}


.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
}

.links {
  display: flex;
  gap: 2rem;
  margin: 1rem;
}

.navbar .toggle_btn {
  color: #ffffff00;
  font-size: 1.5rem;
  cursor: pointer;
}

.action_btn {
    align-items: center;
  background-color: #02661b;
  /*background-color: rgb(3, 66, 160);*/
  color: #ffffff;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease; 
  
}

.action_btn:hover {
  transform: scale(1.05); 
  background-color: rgb(3, 66, 160);
  /*background-color: #02661b;*/
  color: #ffffff; 
}

.action_btn:active {
  transform: scale(0.95); 
  color: #ffffff;
}

/* DROPDOWN MENU */
.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  height: 240px;
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu .action_btn {
  width: 100px; 
  display: flex; 
  justify-content: center;
}




main{
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  text-align: center;
  color: #ffffff00;
}





ul{
  text-align: center;

}
li{
  display: inline-block;
  margin: 0 10px;

}

ul{
  display:flex;
  justify-content: center ;

}
ul{
  text-align: center;
}
li{
  display:inline-block;
  margin:10px;
  height: 10px;
}

